node_modules/
dist/
.env
*.log
.DS_Store
Screen_Recording_Transcription/
# Next.js
frontend/.next/
frontend/out/
frontend/node_modules/

# Backend
backend/dist/
backend/node_modules/

# Media and Large Files
*.mp4
*.mkv
*.avi
*.mov

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.env/
build/
develop-eggs/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Specific Redundant Files
client_mappings.json
transcribe.py

# Transcription folder
Screen_Recording_Transcription/
